@media (max-width: 320px) {
  nav {
    width: 90%;
    margin: auto;
  }

  .easy-access {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
  }

  .sidebar,
  .social {
    margin-bottom: 10rem;
  }

  .start {
    width: 90%;
    margin: auto;
  }

  .start .start-head {
    display: flex;
  }

  .start .start-head-second {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .start .start-body {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .articles {
    width: 90%;
    margin: auto;
  }

  #thirdh-article-start .first-article-info {
    width: 90%;
    margin: auto;
  }

  .first-article-head {
    font-size: 2rem;
  }

  .first-title {
    font-size: 1.5rem;
  }

  footer .footer {
    width: 90%;
    margin: auto;
    margin-top: -5rem;
  }

  .footer .mntn {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }

  .mntn-body {
    width: 90%;
    margin: auto;
  }

  .lists {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  #first-article {
    top: 208%;
  }

  #second-article {
    top: 448%;
  }

  #thirdh-article {
    top: 682%;
  }

  .footer .lists {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  nav {
    width: 90%;
    margin: auto;
    position: relative;
  }

  nav ul {
    display: none;
  }

  nav .account {
    position: absolute;
    left: 50%;
  }

  .menu-bars {
    display: block;
  }

  .start {
    width: 90%;
    margin: auto;
    padding-bottom: 5rem;
  }

  .start .start-head-second {
    font-size: 1rem;
    width: 80%;
  }

  .start .start-head {
    display: flex;
    align-items: center;
  }

  .start .start-body {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .start .start-footer {
    display: flex;
    justify-content: center;
  }

  .social {
    flex-direction: row;
    gap: 1rem;
  }

  .social,
  .sidebar {
    margin-top: -25rem;
  }

  .social .follow {
    transform: rotate(0);
  }

  .social #social {
    flex-direction: row;
    gap: 0.8rem;
  }

  .sidebar-list-menu {
    display: flex;
    gap: 1rem;
  }

  .articles {
    width: 90%;
    margin: auto;
  }

  .first-article {
    flex-direction: column-reverse;
  }

  #first-article-start {
    flex-direction: column;
  }

  .first-article-info {
    text-align: center;
  }

  .first-article-head {
    font-size: 2.5rem;
  }

  .first-article-footer,
  .first-article-title {
    display: flex;
    justify-content: center;
  }

  .articles .article-img img {
    width: 100%;
  }

  #first-article {
    bottom: -190%;
  }

  #second-article {
    bottom: -430%;
  }

  #thirdh-article {
    bottom: -670%;
  }

  footer .footer {
    width: 90%;
    margin: auto;
    margin-top: 6rem;
    flex-direction: column;
  }

  footer .mntn {
    text-align: center;
  }

  .more-the-blog,
  .more-the-mntn {
    text-align: center;
    margin-top: 3rem;
  }

  .more-the-blog-head a,
  .more-the-mntn-head a {
    font-size: 1.2rem;
  }

  .lists {
    margin: auto;
    margin-top: 2rem;
    gap: 3.5rem;
  }
}

@media (max-width: 768px) {
  nav {
    width: 90%;
    margin: auto;
    position: relative;
  }

  .menu-bars {
    display: none;
  }

  .start {
    width: 70%;
    margin: auto;
    margin-top: 10rem;
  }

  .start .start-head {
    justify-content: center;
  }

  .start .start-body {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .start .start-footer {
    display: flex;
    justify-content: center;
  }

  .easy-access {
    margin-top: -11rem;
  }

  .articles {
    width: 90%;
    margin: auto;
    margin-top: 8rem;
  }

  .first-article {
    flex-direction: column-reverse;
  }

  #first-article-start {
    flex-direction: column;
  }

  .first-article-info {
    text-align: center;
  }

  .first-article-head {
    font-size: 2.5rem;
  }

  .first-article-footer,
  .first-article-title {
    display: flex;
    justify-content: center;
  }

  .articles .article-img img {
    width: 100%;
  }

  #first-article {
    bottom: -235%;
  }

  #second-article {
    bottom: -494%;
  }

  #thirdh-article {
    bottom: -745%;
  }

  footer .footer {
    width: 90%;
    margin: auto;
    margin-top: 6rem;
    flex-direction: column;
  }

  footer .mntn {
    text-align: center;
  }

  .mntn-body,
  .mntn-footer {
    margin: auto;
    margin-top: 1rem;
  }

  .more-the-blog,
  .more-the-mntn {
    text-align: center;
    margin-top: 3rem;
  }

  .more-the-blog-head a,
  .more-the-mntn-head a {
    font-size: 1.2rem;
  }

  .lists {
    width: 80%;
    margin: auto;
    justify-content: space-between;
  }
}
